<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="VaultUrl"
         value="Url of key vault" />
    <add key="storageAccountName"
         value="Storage account name (ex: kirkedemo)" />
    <add key="clientId"
         value="keyvault owner id" />
    <add key="clientSecret"
         value=" secret to get key" />
  </appSettings>
</configuration>